[submodule "NPOI"]
	path = NPOI
	url = https://github.com/dotnetcore/NPOI
[submodule "greatmaps"]
	path = greatmaps
	url = https://github.com/radioman/greatmaps.git
[submodule "TriggerServer/RaspberryPi.Net"]
	path = TriggerServer/RaspberryPi.Net
	url = https://github.com/cypherkey/RaspberryPi.Net
