<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    <target xsi:type="File" name="TriggerNetwork" fileName="${basedir}/logs/network-${shortdate}.log" />
    <target xsi:type="File" name="MainLogs" fileName="${basedir}/logs/application-${shortdate}.log" />
    <target xsi:type="File" name="GPS" fileName="${basedir}/logs/gps-${shortdate}.log"/>
    <target xsi:type="File" name="JobWorker" fileName="${basedir}/logs/jobworker-${shortdate}.log"/>
    <target xsi:type="File" name="TriggerClass" fileName="${basedir}/logs/trigger-${shortdate}.log"/>
    <!--
    Write events to a file with the date in the filename.
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="MainLogs" />
    <logger name="TriggerServer.*" minlevel="Trace" writeTo="TriggerNetwork" />
    <logger name="libBifler.GPS" minlevel="Trace" writeTo="GPS" />
    <logger name="libBifler.JobWorker" minlevel="Trace" writeTo="JobWorker" />
    <logger name="libBifler.TriggerDevice" minlevel="Trace" writeTo="TriggerClass" />
    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->
  </rules>
</nlog>
